<script type="text/javascript">
  $(function() {
    window.router = new Cwm.Routers.AboutsRouter('<%= h params[:action] %>');
    Backbone.history.start();
  });
</script>

<div id="about">
  <h2><img src="images/about/about.png" alt="about" /></h2>
  <div class="video_area"></div>
  
  <div id="our_story" class="article1">
    <h3>our story</h3>
    <p>Crosswater Media is an Oakland-based marketing and media production company that specializes in branding and video production. We believe every company – regardless of size, industry or longevity – has a unique and compelling story to tell. Our recipe for success includes listening, collaborating and strategy. Oh, and fun.</p>
    
    <h3>our people</h3>
    <p>Daisuke Miyake, founder and chief creative planner, hails from the video and media production world. He is a conscientious listener dedicated to the creative process. Prior to founding Crosswater Media, he managed documentary and marketing video production projects for corporations and government offices in Tokyo. He is passionate about representing peoples’ stories in digital media.</p>
    <p>Tim Haggerty, marketing and branding, has served small businesses, Fortune 500 companies and non-profits across many industries around the world. He is fervent about branding and believes it’s not just the responsibility of giant corporations to be consistent in their communications. Prior to joining Crosswater Media he worked across the marketing spectrum including research, public relations and IMC.</p>
  
    <h3>our approach</h3>
    <p>There’s no mystery to what we do. The work we produce for our clients is based on them. We listen: to who they are, what they do, what they love, what keeps them ticking. It’s about their story. At Crosswater Media, everything we create is based on strategy in collaboration with our clients. We work to coordinate and integrate their marketing and media production needs to tell a complete, consistent and unique story so they stand out in a crowded, competitive market.</p>
  </div>
  
  
  
  
</div>