<script type="text/javascript">
  $(function() {
    window.router = new Cwm.Routers.BlogRouter('<%= h params[:action] %>');
    Backbone.history.start();
  });
</script>

<div id="blog">
    <h2><img src="images/blog/blog.gif" alt="blog" /></h2>
    
    <h3>WHAT IS BRANDING?</h3>
    <div class="blog_content">
        <dl>
            <dt>Posted:</dt>
            <dd>Sept. 20th, 2011</dd>
            <dt>Author:</dt>
            <dd>Daisuke</dd>
            <dt>Comments:</dt>
            <dd>1</dd>
        </dl>
        <div class="clear"></div>
        <p>
            There is more to business than having a product or service and claiming to be the best. If you really want to connect with people an easy and efficient way is to manage your brand. It’s about relationships, telling your story, letting people discover what is unique about you or your company. It doesn’t matter if you sell sushi, software or homes. Managing your brand is more important today than ever before.
        </p>
    </div>

    <h3>WHAT IS BRANDING?</h3>
    <div class="blog_content">
        <dl>
            <dt>Posted:</dt>
            <dd>Sept. 20th, 2011</dd>
            <dt>Author:</dt>
            <dd>Daisuke</dd>
            <dt>Comments:</dt>
            <dd>1</dd>
        </dl>
        <div class="clear"></div>
        <p>
            There is more to business than having a product or service and claiming to be the best. If you really want to connect with people an easy and efficient way is to manage your brand. It’s about relationships, telling your story, letting people discover what is unique about you or your company. It doesn’t matter if you sell sushi, software or homes. Managing your brand is more important today than ever before.
        </p>
        
        <div class="video_wrapper">
            <div style="height: 350px; background: #000000;"></div>
        </div>
        
    </div>
    
</div>

