<script type="text/javascript">
  $(function() {
    window.router = new Cwm.Routers.ClientsRouter('<%= h params[:action] %>');
    Backbone.history.start();
  });
</script>

<div id="clients">
  <h2><img src="images/clients/about_clients.png" alt="about clients" /></h2>
  <p class="clients_exp">Our clients are companies that understand the value of marketing and the importance of rich media content. Clients range from entrepreneurs and start-ups to medium-size corporations and non-profits across many industries. Whether B2C or B2B, we are always inspired by our clients’ unique stories and love to help them spread their message.</p>
  
  <div id="client_video">
  <!--  1219126929001 1219126951001 1219252727001 -->
  <%= render :partial => "player_brightcove", :locals => { :video_id => "1219126929001", :width => "600", :height => "338", :template_load_handler => "", :auto_play => false } %>
  </div>
  
  
  
  <div id="clients_logos">
    <div id="client_aci" class="clientlogo">ACI</div>
    <div id="client_atc" class="clientlogo">ATC</div>
    <div id="client_bbg" class="clientlogo">BBG</div>
    <div id="client_cbf" class="clientlogo">CBF</div>
    <div id="client_cie" class="clientlogo">CIE</div>
    <div id="client_cue" class="clientlogo">CUE</div>
    <div id="client_gld" class="clientlogo">GLD</div>
    <div id="client_gtp" class="clientlogo">GTP</div>
    <div id="client_hhc" class="clientlogo">HHC</div>
    <div id="client_hsl" class="clientlogo">HSL</div>
    <div id="client_lin" class="clientlogo">LIN</div>
    <div id="client_ljl" class="clientlogo">LJL</div>
    <div id="client_lmx" class="clientlogo">LMX</div>
    <div id="client_mtg" class="clientlogo">MTG</div>
    <div id="client_mts" class="clientlogo">MTS</div>
    <div id="client_nja" class="clientlogo">NJA</div>
    <div id="client_ntg" class="clientlogo">NTG</div>
    <div id="client_onv" class="clientlogo">ONV</div>
    <div id="client_pma" class="clientlogo">PMA</div>
    <div id="client_wps" class="clientlogo">WPS</div>
  </div>
  
  
</div>
