<script type="text/javascript">
  $(function() {
    window.router = new Cwm.Routers.CompleteBrandExperiencesRouter('<%= h params[:action] %>');
    Backbone.history.start();
  });
</script>



<div id="complete_brand_experience">
    <h2><img src="images/complete_brand_experience/complete_brand_experience.png" alt="complete brand experience" /></h2>
    <div class="article1">
      <p>Did you ever walk into a place and sense that someone had thought of every detail? Nothing was overlooked. Perhaps a hotel or doctor’s office or auto repair garage. When you realize the attention that was given to the smallest things you are confident you will receive that same level of care. A complete brand experience is more than perfecting a product or service. It is a systematic way of addressing the many customer touchpoints and building customer loyalty.</p>
    </div>
    
    <h3 id="case_study">case study</h3>
    <div id="case_study_area">
      <div id="case_study_wrapper">
        <div id="explanation">
          <h4>Lin Jia</h4>
          <p>Before the first wok hit the burner, Crosswater Media was consulted to create a contemporary Asian restaurant based on local, organic ingredients. In addition to corporate identity, we were involved in everything from decor to garnishes. The owner knew that anything that touched the customer was part of the brand experience. See the video to learn more.</p>
        </div>
        <div class="slideshow"><a href="#" id="open_slide_show"><img src="images/complete_brand_experience/M&B_CBE_slideshow_button.png" alt="slideshow" /></a></div>
        <div class="clear"></div>
        <div class="video">
          <%= render :partial => "player_brightcove", :locals => { :video_id => "1174794537001", :width => "585", :height => "331", :template_load_handler => "", :auto_play => false } %>
        </div>
      </div>

      
    </div>
</div>
