<script type="text/javascript">
  $(function() {
    window.router = new Cwm.Routers.HomesRouter('<%= h params[:action] %>');
    Backbone.history.start();
  });
</script>


<div id="home">
           <div id="main_video">
              
            <%= render :partial => "player_brightcove", :locals => { :video_id => "1119008772001", :width => "668", :height => "375", :template_load_handler => "myTemplateLoaded1", :auto_play => true } %>



            </div>
            <div id="article">
                <div id="futured_video">
                    <h2>Featured Videos & Articles</h2>
                    
                    <div class="one_section">
                        <img src="images/sample_video.gif" class="futured_video_image" />
                        <div class="video_text_area">
                            <h3>Takayuki Zoshi</h3>
                            <span class="tags">Artist Profile Video</span>
                            <p>Takayuki Zoshi is a Japanese wood carver based in Sobastopol, California. Main motif of his artwork is derived from buddhism tradition. He corved his first Buddha stotue</p>
                        </div>
                    </div>
                    
                    <div class="one_section">
                        <img src="images/sample_video.gif" class="futured_video_image" />
                        <div class="video_text_area">
                            <h3>Takayuki Zoshi</h3>
                            <span class="tags">Artist Profile Video</span>
                            <p>Takayuki Zoshi is a Japanese wood carver based in Sobastopol, California. Main motif of his artwork is derived from buddhism tradition. He corved his first Buddha stotue</p>
                        </div>
                    </div>
                    
                    <div class="one_section">
                        <img src="images/sample_video.gif" class="futured_video_image" />
                        <div class="video_text_area">
                            <h3>Takayuki Zoshi</h3>
                            <span class="tags">Artist Profile Video</span>
                            <p>Takayuki Zoshi is a Japanese wood carver based in Sobastopol, California. Main motif of his artwork is derived from buddhism tradition. He corved his first Buddha stotue</p>
                        </div>
                    </div>
                    
                    <div class="one_section">
                        <img src="images/sample_video.gif" class="futured_video_image" />
                        <div class="video_text_area">
                            <h3>Takayuki Zoshi</h3>
                            <span class="tags">Artist Profile Video</span>
                            <p>Takayuki Zoshi is a Japanese wood carver based in Sobastopol, California. Main motif of his artwork is derived from buddhism tradition. He corved his first Buddha stotue</p>
                        </div>
                    </div>
                    
                </div>
                <div id="recently_blogged">
                    <h2>Recently Blogged</h2>
                    <div class="one_section">
                        <h3>What is Branding?</h3>
                        <div class="posted">Poste August 7th, 2011</div>
                    </div>
                    
                    <div class="one_section">
                        <h3>Are Japanese people more individualistic than Americans?</h3>
                        <div class="posted">Poste August 7th, 2011</div>
                    </div>
                    
                    <div class="one_section">
                        <h3>Why videos on website?</h3>
                        <div class="posted">Poste August 7th, 2011</div>
                    </div>
                    
                    
                </div>
            </div>
</div>