<script type="text/javascript">
  $(function() {
    window.router = new Cwm.Routers.InspirationsRouter('<%= h params[:action] %>');
    Backbone.history.start();
  });
</script>

<div id="inspiration">
  
</div>
