

<div id="marketing_branding">
    <h2><img src="images/marketing_branding/marketing_branding.png" alt="marketing branding" /></h2>
    <div class="banner_area">
      <div class="main_banner"><img src="images/marketing_branding/M&B_banner1.png" /></div>
      <div class="sub_banner"></div>
      <div class="clear"></div>
    </div>
    
    <div id="marketing" class="article1">
      <h3>marketing</h3>
      <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
    </div>
    
    <div id="branding" class="article1">
      <h3>branding</h3>
      <p>text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text</p>
    </div>
    
</div>