

<div id="marketing_branding">
    <h2><img src="images/marketing_branding/marketing_branding.png" alt="marketing branding" /></h2>
    <div class="banner_area">
      <div class="main_banner"><img src="images/marketing_branding/M&B_banner1.png" alt="marketing and branding" /></div>
      <div class="sub_banner"><span>COMPLETE<br /> BRAND<br /> EXPERIENCE</span></div>
      <div class="clear"></div>
    </div>
    
    <div id="marketing" class="article1">
      <h3>marketing</h3>
      <p>You have many choices how to market your product or service. Social media is hot right now but is it the right strategy for you? We explore various marketing options and design a program based on what works for you, not what is trendy. This translates into a greater return for your investment. At Crosswater Media we use integrated marketing communications (IMC) – a blend of marketing channels that work together – to communicate a strong, consistent message.</p>
      <ul>
        <li>marketing strategy</li>
        <li>social media strategy</li>
        <li>website design</li>
        <li>printed collateral design</li>
        <li>marketing implementation</li>
      </ul>
    </div>
    
    <div id="branding" class="article1">
      <h3>branding</h3>
      <p>There is more to business than having a product or service and claiming to be the best. If you really want to connect with people an easy and efficient way is to manage your brand. It’s about relationships, telling your story, letting people discover what is unique about you or your company. It doesn’t matter if you sell sushi, software or homes. Managing your brand is more important today than ever before.</p>
      <ul>
        <li>name development</li>
        <li>brand strategy</li>
        <li>brand development</li>
        <li>brand positioning</li>
        <li>brand guidelines</li>
        <li>brand refresh</li>
        <li>personal branding</li>
      </ul>
    </div>
    
</div>