

<div id="marketing_branding">
    <h2><img src="images/marketing_branding/marketing_branding.png" alt="marketing branding" /></h2>
    <div class="banner_area">
      <div class="main_banner"><img src="images/marketing_branding/M&B_banner1.png" /></div>
      <div class="sub_banner"></div>
    </div>
    
    
</div>