<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Cwm.Routers.MediaProductionsRouter('<%= h params[:action] %>');
    Backbone.history.start();
  });
</script>

<div id="media_production">
  
  <h2><img src="images/media_production/media_production.png" alt="media production" /></h2>
  
  <div class="banner_area">
    
    <div id="slides" class="main_banner">
      
      <div class="slides_container">
        <div>
            <img src="images/media_production/MP_banner1.png" alt="Media Production" />
        </div>
        <div>
            <img src="images/media_production/MP_banner2.png" alt="Media Production" />
        </div>
        <div>
            <img src="images/media_production/MP_banner3.png" alt="Media Production" />
        </div>
        <div>
            <img src="images/media_production/MP_banner4.png" alt="Media Production" />
        </div>
      </div>
      
    </div>
    
  </div>
  
  
  <div id="video_production" class="article1">
    <h3>Video Production</h3>
    <p>Having videos on your website has become a must for any business. According to one estimate, if a website doesn’t contain video content by 2012 it will not rank on Google’s first page of search results. Video is a compelling way to engage viewers and is more effective than text and images alone. At Crosswater Media we produce quality videos that captivate viewers.</p>
    <ul>
      <li>testimonial</li>
      <li>promotional</li>
      <li>educational</li>
      <li>profile</li>
    </ul>
  </div>
  
  <div id="content production" class="article1">
    <h3>content production</h3>
    <p>What pulls visitors to websites these days is rich media content that is frequently updated. Things like videos, slideshows and blogs relating to timely topics and issues have become necessities. Your entire site’s content should be carefully planned and executed in a way that drives visitors to important sections. And ultimately to you. At Crosswater Media we consult with clients to design exciting and dynamic content to help them remain relevant in the market.</p>
    <ul>
      <li>website content</li>
      <li>video development</li>
      <li>media management</li>
      <li>editorial production</li>
    </ul>
  </div>
  
  <div id="content production" class="article1">
    <h3>work samples</h3>
    
    <div id="work_sample_videos">
      <div class="sample_video"></div>
      <div class="sample_video"></div>
      <div class="sample_video"></div>
    </div>
    
  </div>
  
</div>
