
div#left_area div#clients{

}


div#left_area div#clients div.tmp{
    margin-top: 570px;
    
}

div#left_area div#clients div#clients_logos{
    position: relative;
    height: 1000px;
}

div#left_area div#clients div#clients_logos div.clientlogo{
    width: 150px;
    height: 121px;
    position: absolute;
    text-indent: -9999px;
    border: 1px solid #E4E5E7;
    
}


/* ACI 1 - 1 */
div#left_area div#clients div#clients_logos div#client_aci{
    top: 0px;
    left: 0px;
    background: url("../images/clients/Client_ACI.png") no-repeat scroll 0 0 transparent;
}

div#left_area div#clients div#clients_logos div#client_aci:hover{
    background: url("../images/clients/Client_ACI.png") no-repeat scroll 0 -121px transparent;
}

/* ATC 1 - 2 */
div#left_area div#clients div#clients_logos div#client_atc{
    top: 124px;
    left: 0px;
    background: url("../images/clients/Client_ATC.png") no-repeat scroll 0 0 transparent;
}

div#left_area div#clients div#clients_logos div#client_atc:hover{
    background: url("../images/clients/Client_ATC.png") no-repeat scroll 0 -121px transparent;
}

/* BBG 1 - 3 */
div#left_area div#clients div#clients_logos div#client_bbg{
    top: 248px;
    left: 0px;
    background: url("../images/clients/Client_BBG.png") no-repeat scroll 0 0 transparent;
}

div#left_area div#clients div#clients_logos div#client_bbg:hover{
    background: url("../images/clients/Client_BBG.png") no-repeat scroll 0 -121px transparent;
}

/* BBG 1 - 4 */
div#left_area div#clients div#clients_logos div#client_cbf{
    top: 372px;
    left: 0px;
    background: url("../images/clients/Client_CBF.png") no-repeat scroll 0 0 transparent;
}

div#left_area div#clients div#clients_logos div#client_cbf:hover{
    background: url("../images/clients/Client_CBF.png") no-repeat scroll 0 -121px transparent;
}

/* BBG 1 - 4 */
div#left_area div#clients div#clients_logos div#client_cie{
    top: 496px;
    left: 0px;
    background: url("../images/clients/Client_CIE.png") no-repeat scroll 0 0 transparent;
}

div#left_area div#clients div#clients_logos div#client_cie:hover{
    background: url("../images/clients/Client_CIE.png") no-repeat scroll 0 -121px transparent;
}




