
div#left_area{


    div#contact{

        margin-right: 55px;
        
        h2{
            margin-top: 80px;
        }
        
        p{
            margin-top: 35px;
            font-weight: normal;
            color: #333333;
        }
        
        div#inquiry_area{
            margin-top: 15px;
            border: 3px solid #E0E0DE;
            position: relative;
            
            div.wrapper{
                padding-top: 10px;
                padding-bottom: 50px;
                background: #E0E0DE;
                margin: 3px;
                
                label{
                    margin-top: 15px;
                    display: block;
                    margin-left: 15px;
                    color: #333333;
                    font-size: 90%;
                }
                
                input{
                    margin-left: 15px;
                    width: 280px;
                }
                
                textarea{
                    margin-left: 15px;
                    width: 280px;
                    height: 150px;
                }
                
                div.submit_tag{
                    position: absolute;
                    bottom: 20px;
                    right: 20px;

                    
                    a{
                        font-size: 70%;
                        background: #FFFFFF;
                        padding-left: 25px;
                        padding-right: 25px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                    }
                    
                    a:link    { color: #333333; text-decoration: none; }
                    a:visited { color: #333333; text-decoration: none; }
                    a:hover   { color: #333333; text-decoration: none; }
                    a:active  {  }
                    
                    a:hover{
                        background: #EEEEEE;
                    }
                    
                }
                
                
                
            }
            
        }
        
    }

}
        