



div#left_area div#home div#main_video{
    width: 662px;
    height: 375px;
    background: black;
}

div#left_area div#home div#article{
    height: 400px;
}

div#left_area div#home div#article div#futured_video{
    float: left;
    width: 432px;
    height: 100px;
    margin-left: 0;
}

div#left_area div#home div#article div#futured_video h2{
    font-size: 120%;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 0;
    text-indent: -9999px;
    background: url("../images/bg_featured_videos_articles.gif") no-repeat scroll left top transparent;
}

div#left_area div#home div#article div.one_section{
    margin-bottom: 15px;
    overflow: auto;
}

div#left_area div#home div#article img.futured_video_image{
    margin-top: 15px;
    margin-left: 5px;
    float:left;
    width: 168px;
}

div#left_area div#home div#article div.video_text_area{
    float: left;
    width: 200px;
    margin-left: 10px;

}

div#left_area div#home div#article div.video_text_area h3{
    margin-top:15px;
    margin-bottom:0;
    margin-left: 0;
    margin-right: 0;
    padding:0;
    font-size: 80%;
    font-weight: normal;
}

div#left_area div#home div#article div.video_text_area span{
    font-size: 60%;
}

div#left_area div#home div#article div.video_text_area p{
    color: #b8b8b8;
    font-size: 55%;
}

div#left_area div#home div#article div#recently_blogged{
    float: left;
    width: 220px;
    height: 100px;
}
div#left_area div#home div#article div#recently_blogged h2{
    font-size: 120%;
    font-weight: normal;
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 0;
    text-indent: -9999px;
    background: url("../images/bg_recently_blogged.gif") no-repeat scroll left top transparent;
}

div#left_area div#home div#article div#recently_blogged div.one_section{
    overflow: auto;
    margin-bottom: 15px;
}

div#left_area div#home div#article div#recently_blogged div.one_section h3{
    margin-top:15px;
    margin-bottom:0;
    margin-left: 0;
    margin-right: 0;
    padding:0;
    font-size: 90%;
    font-weight: normal;
}

div#left_area div#home div#article div#recently_blogged div.one_section div.posted{
    color: #b8b8b8;
    font-size: 55%;
    margin-top: 9px;
}
