
div#left_area{
    
    div#marketing_branding{
        margin-top: 80px;
        
        div.banner_area{
            margin-top: 35px;
            
            div.main_banner{
                float: left;
                width: 410px;
                height: 150px;
                overflow: hidden;
            }
            
            div.main_banner img{
                width: 410px;
                height: 150px;
            }
            
            div.sub_banner{
                float: right;
                margin-right: 60px;
                width: 150px;
                height: 100px;
                padding-top: 70px;
                padding-right: 20px;
                color: #666666;
                text-indent: -9999px;
                background: url("/images/marketing_branding/CBE_page_button.png") no-repeat scroll left top transparent;
            }
            
        }

        div#marketing{
            margin-top: 50px;
        }
    }
    
}

