<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="en" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<title>crosswater media</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<script type="text/javascript">

var player;
var content;
var video;
var menu;
var chromeless;

var videos = {
    list:     [ '1119008772001', '1118991809001', '1074269253001' ],
    count: 0,
    get_next: function(){
        var cnt = videos.count;
        if( videos.count >= (videos.list.length - 1) ){
            videos.count = 0;
        }else{
            videos.count += 1
        }
        return videos.list[cnt]
    }
    
}

// called when template loads, we use this to store a reference to the modules
// and add event listeners for media load (when the user clicks on a video)
function onTemplateLoaded(arg_player) {
	player = brightcove.getExperience(arg_player);

	video = player.getModule(APIModules.VIDEO_PLAYER);
	content = player.getModule(APIModules.CONTENT);
	content.addEventListener(BCContentEvent.MEDIA_LOAD, onMediaLoad);
	exp 	= player.getModule(APIModules.EXPERIENCE);
	exp.addEventListener(BCExperienceEvent.TEMPLATE_READY, onTemplateReady);
        menu = player.getModule(APIModules.MENU);
        
        //chromeless = brightcove.getElementsByType("ChromelessVideoPlayer")

        video.setVolume(0);
        playTitleFromList(videos.get_next());
}

function onTemplateReady(e){
	exp.addEventListener(BCExperienceEvent.CONTENT_LOAD, onContentLoad);
	video.addEventListener(BCMediaEvent.COMPLETE, onMediaComplete);
}


function onContentLoad(e) {
    //alert("BCExperienceEvent.CONTENT_LOAD "+e.media.id);
}

function onMediaComplete(e) {
    //playTitleFromList("1119008772001")    1074269253001
    chromeless = exp.getElementsByType("ChromelessVideoPlayer");
    var control = chromeless[0].getControls();
    control.setVisible(false)

    playTitleFromList(videos.get_next());
}
function playTitle(id) {
	content.getMediaAsynch(id);
}

function onMediaLoad(e) {
	video.loadVideo(e.media.id);
}

function playTitleFromList(id) {
        content.getMediaAsynch(id);
}


//]]>
</script>
<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/APIModules_all.js"> </script>
</head>
<body>


<div id="wrapper">
    <div id="contents">
        <div id="right_area">
            <h1>
              <a href="#">
                <img src="images/logo.png" alt="crosswater media" />
              </a>
            </h1>
            <div id="gm_area">
            <ul id="gm">
                <li id="gm_home" class="gm_main_menu"><a href="#" class="selected">Home</a></li>
                <li id="gm_marketing_branding" class="gm_main_menu"><a href="#">Marketing and Branding</a></li>
                <li id="gm_sub_complete_brand_experience" class="gm_sub_menu"><a href="#">Marketing and Branding</a></li>
                <li id="gm_media_production" class="gm_main_menu"><a href="#">Media Production</a></li>
                <li id="gm_about" class="gm_main_menu"><a href="#">About</a></li>
                <li id="gm_sub_clients" class="gm_sub_menu"><a href="#">Clients</a></li>
                <li id="gm_inspiration" class="gm_main_menu"><a href="#">Inspiration</a></li>
                <li id="gm_contact" class="gm_main_menu"><a href="#">Contact</a></li>
            </ul>
            </div>
            <div id="cwm_ad_area"><a href="#"><img src="images/img_slide.gif" alt="Complete Brand Experience" /></a></div>
            <div id="blog_area"><a href="#"><img src="images/img_blog.gif" alt="Blog" /></a></div>
            <div id="sns_area">
                <img src="images/img_small_logo.gif" alt="Blog" />
                <span>Follow "Crosswater Media" on Facebook</span>
            </div>
        </div>
        <div id="left_area">
            <div id="main_video">

<!-- Start of Brightcove Player -->

<div style="display:none">

</div>

<!--
By use of this code snippet, I agree to the Brightcove Publisher T and C 
found at https://accounts.brightcove.com/en/terms-and-conditions/. 
-->

<script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>

<object id="myExperience" class="BrightcoveExperience">
  <param name="bgcolor" value="#FFFFFF" />
    <param name="width" value="668" />
    <param name="height" value="375" />
  <param name="playerID" value="1118567465001" />
  <param name="playerKey" value="AQ~~,AAAA-kT3FyE~,jKt4cDeDK0VN2MX0QOCuPw61nq0iqpVy" />
  <param name="isVid" value="true" />
  <param name="isUI" value="true" />
  <param name="dynamicStreaming" value="true" />
　<param name="@videoPlayer" value="" />
</object>

<!-- 
This script tag will cause the Brightcove Players defined above it to be created as soon
as the line is read by the browser. If you wish to have the player instantiated only after
the rest of the HTML is processed and the page load is complete, remove the line.
-->
<script type="text/javascript">brightcove.createExperiences();</script>

<!-- End of Brightcove Player -->



            </div>
            <div id="article">
                <div id="futured_video">
                    <h2>Featured Videos & Articles</h2>
                    
                    <div class="one_section">
                        <img src="images/sample_video.gif" class="futured_video_image" />
                        <div class="video_text_area">
                            <h3>Takayuki Zoshi</h3>
                            <span class="tags">Artist Profile Video</span>
                            <p>Takayuki Zoshi is a Japanese wood carver based in Sobastopol, California. Main motif of his artwork is derived from buddhism tradition. He corved his first Buddha stotue</p>
                        </div>
                    </div>
                    
                    <div class="one_section">
                        <img src="images/sample_video.gif" class="futured_video_image" />
                        <div class="video_text_area">
                            <h3>Takayuki Zoshi</h3>
                            <span class="tags">Artist Profile Video</span>
                            <p>Takayuki Zoshi is a Japanese wood carver based in Sobastopol, California. Main motif of his artwork is derived from buddhism tradition. He corved his first Buddha stotue</p>
                        </div>
                    </div>
                    
                    <div class="one_section">
                        <img src="images/sample_video.gif" class="futured_video_image" />
                        <div class="video_text_area">
                            <h3>Takayuki Zoshi</h3>
                            <span class="tags">Artist Profile Video</span>
                            <p>Takayuki Zoshi is a Japanese wood carver based in Sobastopol, California. Main motif of his artwork is derived from buddhism tradition. He corved his first Buddha stotue</p>
                        </div>
                    </div>
                    
                    <div class="one_section">
                        <img src="images/sample_video.gif" class="futured_video_image" />
                        <div class="video_text_area">
                            <h3>Takayuki Zoshi</h3>
                            <span class="tags">Artist Profile Video</span>
                            <p>Takayuki Zoshi is a Japanese wood carver based in Sobastopol, California. Main motif of his artwork is derived from buddhism tradition. He corved his first Buddha stotue</p>
                        </div>
                    </div>
                    
                </div>
                <div id="recently_blogged">
                    <h2>Recently Blogged</h2>
                    <div class="one_section">
                        <h3>What is Branding?</h3>
                        <div class="posted">Poste August 7th, 2011</div>
                    </div>
                    
                    <div class="one_section">
                        <h3>Are Japanese people more individualistic than Americans?</h3>
                        <div class="posted">Poste August 7th, 2011</div>
                    </div>
                    
                    <div class="one_section">
                        <h3>Why videos on website?</h3>
                        <div class="posted">Poste August 7th, 2011</div>
                    </div>
                    
                    
                </div>
            </div>
            
        </div>
        <div style="clear: both"></div>
        <div id="footer">
            <div id="ft_company">©2011 Crosswater Media</div>
            <ul id="ft_menu">
                <li class="first"><a href="#" class="selected">HOME</a></li>
                <li><a href="#">MARKETING & BRANDING</a></li>
                <li><a href="#">MEDIA PRODUCTION</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">INSPIRATION</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>
    </div>

</div>
    

</body>

</html>
